<ion-view title="SM Hacks" id="page4" class=" ">
    <ion-content padding="true" class="has-header">
      <div class="schedule">

        <a href="#" class="item item-icon-left">
          <i class="icon ion-android-remove"></i>
          September 17, 2016
               </a>

        <a href="#" class="item item-icon-left">
          <i class="icon ion-ios-telephone"></i>
          Enter phone number
        </a>

        <a href="#" class="item item-icon-left">
          <i class="icon ion-wifi"></i>
          Enter wireless password
        </a>

        <a href="#" class="item item-icon-left">
          <i class="icon ion-card"></i>
          Enter card information
        </a>

      </div>


    </ion-content>
</ion-view>
